body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-;
    background-color: aliceblue;
}
.w3-row-padding img {
    margin-bottom: 12px;}

.w3-sidebar {
    width: 120px;
    
    }
.logo-img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
        }
.w3-container{
      margin-left: 160px; /* leaves space for sidebar */
      padding: 32px;
    }

#main {
    margin-left: 120px}

@media only screen and (max-width: 600px) {#main {margin-left: 0}}
